.waresContainer {
  min-width: 1000px;
  .box {
    //width:90%;
    border-radius: 5px;
    margin-top: 50px;
    overflow: hidden;
    border: 1px solid #cccccc;
    &:first-of-type{
      margin-top: 0;
    }
    > p {
      font-size: 13px;
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      //background-color: rgba(242, 242, 242, 1);
      border-bottom: 1px solid #797979;
    }
    .content {

    }
  }
}
